@media(max-width:1023px){

    a{
        font-size:16px ;
    }
    .logo{
        font-size: 24px;
    }



}
@media (max-width: 767px){
    header{
        padding:20px 0;

    }

    .header-menu{
        position: fixed;
        top:69px;
        left:0;
        width:100%;
        height:calc(100vh - 69px);
        background: rgba(255,255,255, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }
    .header-menu ul{
        flex-direction:column;
    }
    .menu-btn{
        display: block;
    }
}