/* Box Model Hack */

*,
*::after,
*::before{

  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
   
}
/*********PROPERTIES AND COLORS FOR LAYOUT***********/

/******************************************
/* BASE STYLES
/*******************************************/

:root{
    --color-black:black;
    --color-Nobel:#B5B5B5;
    --color-Athensgray:#B5B5B5;
    --color-jumbo:#808084;
    --color-limedspruce:#2C3C44;
    --color-DodgerBlue:#1C74F4;
    --color-Lynch:#5D7288;
    --color-PineCone:#5E5651;


    --font-Body:'Roboto', sans-serif;
}
body{
    font-family: var(--font-Body);
}
header,footer{
    clear: both;
    width:100%;
}
aside{
    clear:both;

    float:left;
    width:40%;
    height:800px;
   background-color: black;
    border:3px solid black;
    position:fixed;
   transition-duration:.5s;
}

li,ul{
    list-style: none;
    
}
a{
    width:80%;
    /* border:3px solid #1C74F4; */
    height:50px;
}
nav li > a{
    /* border: 3px solid black; */ 
    cursor: pointer;
    float:left;
   color:white;
    letter-spacing:2px;
 margin-top: 100px;
    line-height: 0.5;
    margin:100px;
   transition: font-size .5s;
    margin-left: 280px;
    font-size: 50%;
  
  
}
nav li > a:hover{
    font-size: 100%;
}
main{
    height:740px;
    
    justify-content: center;
    justify-items: center;
     border:3px solid black; 
   
   float:left;
}
main > div{
 border:3px solid black;
 margin-top:200px;
 

  transition: margin-right 1s ease-in-out;
  
 height:30px;
 width:290px;
 background-color: white;
float: left;
margin-left: 930px;
 text-align: center;
  font-weight: 50%;
}

main >div:hover{
 
    background-color: var(--color-black);
    border: 3px solid var(--color-black);
    margin-right:200px;
    box-shadow: 5px 5px 5px #808084;
    color: white;
}

main span{
    font-size:200%;
    margin-top:250px;
    line-height: 30px;
    letter-spacing: 2px;
    color: transparent;
    
 text-shadow: 0 0 7px var(--color-jumbo);
  margin-left:1000px;

}
.k{
    margin-left: 1200px;
    font-size:150%;
}
.m{
    margin-left:800px;
    font-size:300%;
}
.Wone{
    margin-left:1500px;
    font-size:350%;
}
.mOne{
    margin-left:700px;
    font-size:500%;
}
.sctnOne div{
    width:500px;
    height:300px;
    transition: width 2s;
   margin-right:150px;
    margin-top:300px;
    float: right;
   background-color: var(--color-Nobel);
   color:white;
    background-repeat: no-repeat;
   background-size: cover;
    border: 3px solid var(--color-Nobel);

}
.sctnOne div:hover{
    width:300px;
}
.sctnOne > h1{
    font-size: 100%;
    margin-top: 150px;
 transform: rotate(90deg);
    float: right;
   color: white;
  margin-right: 100px;
    text-decoration: overline;

}
.sctnOne div> p{
 margin-top: 50px;
 margin-left: 20px;
}
.sctTwo{
    float: left;
    height:740px;
    width:500px;

}
.sctTwo h1{
    color: black;
    font-size: 100%;
    margin-top: 150px;
 transform: rotate(90deg);
    float: right;
  
  margin-right: 100px;
    text-decoration: overline;
}
#click{
    display: block;
   }
   .checkbtn{
    display:block ;
    cursor: pointer;
}

#check:checked ~ ul{
    left:0;
    
} 
.sctnOne{
border:3px solid black;
background-color: black;
    float:left;
    width:100%;
    height:750px;
}
